@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
.login {
  font-family: "Noto Sans JP";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.classic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-body {
  background: #fff;
  box-shadow: 0 0rem 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 650px;
  padding: 30px 40px;
}
.form-body .form {
  display: flex;
  flex-direction: column;
}
.form-inputs {
  width: 100%;
}
.form-inputs label {
  margin-bottom: 10px;
}
.form-inputs input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  margin-bottom: 15px;
  padding: 0.8rem;
}
.form-inputs input:focus {
  outline: none;
}
.form input[type="submit"] {
  padding: 0.6rem 0.8rem;
  width: 100%;
  border: none;
  background: #6eb800;
  color: #fff;
  border-radius: 5px;
}
.form p {
  font-weight: 300;
  font-size: 16px;
}
.login-img {
  margin-bottom: 20px;
}
.dashboard {
  display: flex;
  justify-content: space-between;
}
.navbar {
  position: fixed;
  background: #6eb800;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.links {
  display: grid;
  grid-template-columns: 1fr;
  padding: 90px 30px;
  color: #fff;
  width: 100%;
  height: 100vh;
  font-size: 20px;
}
.links div {
  margin: 20px 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
.links div:hover {
  transform: translateY(-10px);
}
.links div i {
  margin-right: 10px;
}
.nav-bar {
  padding: 10px 30px;
  display: none;
}
.body {
  margin-left: 250px;
  width: 100%;
  height: 100vh;
}
.pie-chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.pie-chart,
.line-chart {
  width: 100%;
  height: 100%;
}
.pie-chart-container p,
.line-chart p {
  text-transform: capitalize;
  text-align: center;
  margin-top: 20px;
}
.pie-chart-container select {
  text-transform: uppercase;
  box-shadow: none;
}
.pie-chart-container select:focus {
  outline: none;
}
.header {
  color: #6eb800;
  padding: 20px 30px;
}
.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-transform: capitalize;
}
.status {
  flex-wrap: wrap;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-transform: capitalize;
}
.status span {
  background: #333;
  color: #fff;
  border-radius: 50px;
  padding: 8px 20px;
  position: absolute;
  width: 100px;
  top: -20px;
  text-align: center;
}
.box-1 {
  border: 2px solid steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.box-1 h4 {
  padding: 15px;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .status {
    flex-direction: column;
    gap: 4rem;
  }
  .form-body {
    padding: 30px 10px;
  }
  .links span {
    display: none;
  }
  .navbar {
    width: 20%;
  }
  .links {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links div {
    margin: 30px 10px;
  }
  .pie-chart-container {
   grid-template-columns: 1fr;
  }
  .body {
    margin-left: 100px;
    width: 70%;
    padding: 10px 0;
  }
  .pie-chart {
    width: 0%;
  }
  .header {
    text-align: center;
  }
}
